.result-container {
  max-height: 100px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  word-break: break-all;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  background-color: #f9fafb;
}
.result-container::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.result-container::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 4px;
}
.result-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}


.toggle-checkbox:checked {
  right: 0;
  border-color: #1e3a8a; 
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #2f478a; 
}

.toggle-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.toggle-label {
  transition: all 0.2s ease-in-out;
}

.toggle-checkbox:checked {
  transform: translateX(100%); 
}